@media screen and (max-width: 1000px) {
    body {
        background-color: rgb(169, 202, 237);
    }

    .slider {
        width: 240px ;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
        max-width: 12px 0;
    }

    nav ul {
        justify-content: center;
        height: 34px;
    }

    .search {
        justify-content: center;
    }

    .search input {
        margin: 12px 16px;
    }

    .card-item img {
        width: 100px;
    }
}